body {
	margin: 0;
	height: 100%;
}

.container {
	width: 60%;
	margin: 3% auto;
}

h1 {
	text-align: center;
	color: #6b6767;
	font-size: 24px;
}

.main {
	margin: 0 auto;
	margin-top: 30px;
	padding: 10px;
	border: 3px solid #6b6767;
}

table {
	width: 300px;
	margin: 20px;
	display: inline-block;
	vertical-align: top;
}

td, th {
	text-align: left;
}

th {
	height: 50px;
	color: #6b6767;
}

td {
	font-size: 16px;
}

a {
	color: #828282;
	text-decoration: none;
}

a:hover {
	color: #545252;
}

@media screen and (max-width: 550px) {
	table {
		width: 80%;
	}
}