.container {
	background-color: #eee;
	border: 1px solid #999;
}

.container, 
.team-header, 
.team-intro, 
.team-er {
	padding: 20px;
	border: 1px solid #999;
	box-sizing: border-box;
}

.team-header, 
.team-intro, 
.team-er {
	background-color: #fff;
}

.team-header {
	width: 200px;
	position: absolute;
}

.team-header img {
	width: 80px;
	height: 80px;
}

.team-header p {
	position: absolute;
	left: 130px;
}

.team-intro {
	width: auto;
	text-indent: 2em;
	overflow: auto;
	margin-left: 240px;
	margin-right: 160px;
}

.team-er {
	width: 120px;
	position: absolute;
	right: 20px;
	top: 30px;
}

.team-er img {
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 0px;
	text-align: center;
}

@media screen and (max-width: 750px) {
	.team-header, .team-er {
		position: static;
		margin-bottom: 20px;
		width: auto;
	}

	.team-intro {
		margin: 0;
	}
}